<div id="wrap"><center>
  <% title(@user.username) %>
  <h1><%= @user.username %></h1>
  <% if @user.phone.present? %>
  phone: <b><%= @user.phone %></b><br><br>
  <% end %>
  <%= image_tag current_user.image.url(:large), :class => "img-rounded" %>
  <% if current_user.present? %><br>
<%= link_to "Edit account", edit_user_registration_path %>
  <% end %>
  <h2>Produce Selling</h2>  <% if current_user.present? %><i>click link to edit post</i><% end %>

  <div class="row">
     <div class="col-md-12">

       <% @user.posts.each do |post| %>
   
       <div class="col-md-6">
           <div id="indivs">
              <% if post.image? %>
 <%= image_tag post.image.url(:large), :class => "img-rounded" %>
              <br>
             <% else %>
             <%= image_tag "noimage.png", :class => "img-rounded", size: "200" %>
             
             <br>
<% end %>


            
      
             <%= link_to post.title, post_path(post) %><br> 
           

         </div>
           
            </div>
    
           <% end %>
              </div>
           
         
    

      
  
 </div>

  
  

</center>