

<% @title %>
<center>
<h1><i class="glyphicon glyphicon-grain"></i> FoodWeb</h1>
<br>


  <%= form_tag(posts_path, :method => 'get') do %>
  <div class="input-group space">
    <%= text_field_tag :search, params[:search], placeholder: "Enter address to find locally grown produce nearest to you...", class: "form-control" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </span>
    </div><!-- /input-group -->
  <% end %>
  <h1>or</h1>
  <br>
  <%= form_tag(posts_path, :method => 'get') do %>

  <%= submit_tag "JUST TAKE MY LOCATION via IP", :class => "btn btn-info btn-large" %>
  </p>
  
<% end %>

</center>