<div id="wrap"><center>
  <% title("User Home") %>
<h1><%= current_user.username %></h1>
  <% if current_user.phone.present? %>
  phone: <b><%= current_user.phone %></b><br>
  <% end %>
  <%= image_tag current_user.image.url(:large), :class => "img-rounded" %>
<%= link_to "Edit account", edit_user_registration_path %>
  <h2>Produce Selling</h2> <i>click link to edit post</i>

  <div class="row">
     <div class="col-md-12">

  <% current_user.posts.each do |post| %>
   
       <div class="col-md-6">
           <div id="indivs">
        
 <%= image_tag post.image.url(:large), :class => "img-rounded" %><br>

            
      
             <%= link_to post.title, edit_post_path(post) %><br> 
           

         </div>
           
            </div>
    
           <% end %>
              </div>
           
         
    

      
  
 </div>

  
  

</center>
