  <% title(current_user.username) %>
<div id="wrap">
  
<div class="container">

 <div class="col-md-12">
       <div class="row">
         <div class="profr">
           
           
                       <div id="parent">
                  <div class="float"><% if current_user.image? %>
                    <%= image_tag current_user.image.url(:large), :class => "img-circle" %>
                <% end %></div>


           <div class="float2">    
             <h2><%= current_user.username %></h2>
                <% if current_user.phone.present? %>
                phone: <b><%= current_user.phone %></b><br>
             <% if current_user.posts? %>
                     <% current_user.posts.find(1) do |post| %>
                    
                   location: <b><%= post.address %></b><br>
                    <% end %>
             <% end %>
                    <% if current_user.bio? %>

                    <b><div class="biop"><%= current_user.bio %></div></b>
                    <% end %>
                    <%= mail_to current_user.email, "email seller", class: "btn btn-info btn-xs" %><br>
             
<%= link_to "Edit account", edit_user_registration_path %>

                <% end %></div>


              </div>
     


 
                             <div class="row">
                               <div class="prodsell">
              <h1><i class="glyphicon glyphicon-grain"style="color:black"></i>Produce Selling</h1> 
                </div>
                               </div>
  </div>
    
     <div class="col-md-12">
           <div class="row">

  <% current_user.posts.each do |post| %>
   
            
             
             
        <div class="col-md-3">
          <div class="prod">
            <div id="prod2">
                <% if post.image? %>
             <%= image_tag post.image.url(:large), :class => "img-rounded" %>
              <br>
             <% else %>
             <%= image_tag "noimage.png", :class => "img-rounded", size: "200" %>
             
             <br>
             <% end %>
               </div>
    <div id="prod1">
             <b><%= link_to post.title, edit_post_path(post) %></b><br> 
           </div>
           </div>
    
   </div>
 
           <% end %>

  </div>
  
</div>

  </div>

        
  


              </div>
           
         </div>
     


 
    

         


      </div>


