<div id="wrap">
  <div class="container">
  <center>
<div class="row">
  <div class="col-sm-12">
    <h1>Sign in</h1><br>

    <%= form_for(resource, :as => resource_name,
    :url => session_path(resource_name),
    role: "form") do |f| %>

    <div class="form-group">
      <%= f.label :username %>
      
       
          <%= f.text_field :username, :autofocus => true, class: "form-control" %>
        
     
    </div>

    <div class="form-group">
      <%= f.label :password %>
      
       
          <%= f.password_field :password, class: "form-control" %>
       
    
    </div>



    <% if devise_mapping.rememberable? -%>
    <div class="form-group">
     
     
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
   
    
    </div>
    <% end -%>

    <div class="row">
    
        <%= f.submit "Sign in", class: "btn btn-primary" %>
    
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
    </center>
</div>
  </div>