<div class="map_box">
<h3><%= link_to post.title, post_path(post) %></h3>
<p><%= post.address %></p>
  <% if post.image? %>
  <p><%= image_tag post.image.url(:large), :class => "img-rounded" %></p>
  <% end %>
    <p><%= mail_to post.user.email, "email seller", class: "btn btn-info" %></p>
  <p><b>seller: <%= link_to post.user.username, user_path(post.user_id) %></b></p>
<br>
</div>