<div id="wrap">
  <div class="container">
<div class="row">
  <div class="col-sm-10">
    <h1 class="well">Create Listing</h1>
       <div class="col-lg-12 well">
	<div class="row">
<%= form_for @post, :method => :patch do |f| %>
 
    
	<div class="col-sm-12">
							<div class="row">
							<div class="col-sm-6 form-group">
      <%= f.label :title %>
    <%= f.text_field :title, :maxlength => 40, :size => 40, class: "form-control", placeholder: "Maximum length 40 characters" %>
        </div>
  </div>
      
  
	<div class="row">
							<div class="col-sm-9 form-group">

    <%= f.label "Description" %> <i>please include description of freshness, quantity available, and cost per unit.</i>
    
   
    <%= f.text_area :text, class: "form-control" %>
      </div>
  </div>
      
	<div class="row">
							<div class="col-sm-6 form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
    </div>
  </div>
      
   	<div class="row">
							<div class="col-sm-6 form-group">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
 </div>
  </div>
      
    <br>
        <% if @post.user.id == current_user.id %>
  
    <p>
    <div class="btn-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
    </p>
    
    <%= link_to 'Destroy', post_path(@post),
              method: :delete,
data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <% end %>
    

    
        
    <% if current_user.id == 1 %>
    <p>
    <div class="btn-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
    </p>
    
    <%= link_to 'Destroy', post_path(@post),
              method: :delete,
data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <% end %>


<% end %>
    <br>
  
</div>
  </div>
    </div>
  </div>

