<div id="wrap">
  <div class="container">
  <center>
     <h1>Edit your listing</h1>
    <br>
<%= form_for @post, :method => :patch do |f| %>
 <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label "Description" %><br>
    <%= f.text_area :text, class: "form-control" %>
  </p>

 
 

  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </p>

    <p>
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</p>

    
    <% if @post.user.id == current_user.id %>
  
    <p>
    <div class="btn-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
    </p>
    
    <%= link_to 'Destroy', post_path(@post),
              method: :delete,
data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <% end %>
    

    
        
    <% if current_user.id == 1 %>
    <p>
    <div class="btn-group">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
    </p>
    
    <%= link_to 'Destroy', post_path(@post),
              method: :delete,
data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <% end %>
    
    
<% end %>
    
    

      </center>
</div>
  </div>