<center>
<h1><i class="glyphicon glyphicon-grain"></i>Nearest produce...</h1>
  <br>

<table>
  <tr>
    <th>Pic....................</th>
   
    <th>Title....</th>

   
    <th>address....</th>
<th>seller</th>
   
    <th>dist</th>
  
  

  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url(:large) %></td>
      
      <td><%= link_to post.title, post_path(post) %></td>
   
      <td><%= post.address %></td>


      <td><%= post.username %></td>

      <td><b> <%= post.distance.round(1) %> miles</b></td>
   
      

    </tr>


  
 <% end %>
  
  </table><br>
    <%= will_paginate @posts %>
</center>