
<div class="container-fluid">

  
 <center>
<div class="row">
 <h1><i class="glyphicon glyphicon-grain"></i>Nearest produce...</h1>
  
</div>

<br>
   
 <% @posts.each do |post| %>
   
      
          <div class="col-md-4">
            <div class="row">
              <div class="over">
            <%= image_tag post.image.url(:large) %>
          <%= link_to post.title, post_path(post) %><br>
         
              <b>Seller:</b> <%= post.username %><br>
           <b>Description:</b> <%= post.text %>
<br>
            <b>Address:</b> <%= post.address %><br>


              
        
            <b> <%= post.distance.round(1) %></b> miles away
              <br><br>
            </div>
              </div>
            </div>
       <% end %>

   



  


   
</center>
   
   </div>

<%= will_paginate @posts %>