<h1>Nearest locally grown produce available</h1>

<table>
  <tr>
    <th>Pic....................</th>
   
    <th>Title....</th>

    <th>Text....</th>
    <th>address....</th>
<th>seller........................</th>
    <th>dist</th>
    <th>Purchase</th>

  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.image.url(:large) %></td>
      
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.text %></td>
      <td><%= post.address %></td>


      <td><%= post.username %></td>

      <td><b> <%= post.distance.round(1) %> miles</b></td>
      
       <td><button type="button" class="btn btn-primary">Primary</button></td>
    </tr>
 


  <% end %>
</table>

