
<div class="container-fluid">

  
 <center>
<div class="row">
 <h1><i class="glyphicon glyphicon-grain"></i>Nearest produce...</h1>
  
</div>

<br>
  <div class="row row-eq-height">
     
 <% @posts.each do |post| %>
  
    
          <div class="col-md-6 panel">
           
            
            <%= image_tag post.image.url(:large), :class => "img-rounded" %>
      
            <b><%= link_to post.title, post_path(post) %></b><br>
           

            Seller: <b><%= mail_to post.user.email, post.username %></b>, <%= post.user.phone %><br>
         
            Address: <b><%= post.address %></b><br>


              
        
            <b> <%= post.distance.round(1) %></b> miles away  <br>
            <%= post.price %> per <%= post.quantity %>
           
          
              </div>
           
         
       <% end %>
 
  
 </div>


  


   
</center>
   


<%= will_paginate @posts %>
  
     </div>