<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>address</th>
    <th>lat</th>
    <th>long</th>
    <th>dist</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= post.address %></td>
      <td><%= post.latitude %></td>
      <td><%= post.longitude %></td>

 
      
      <td><b> <%= post.distance_to(params[:search], :mi) %> miles</b></td>
    
    </tr>
 


  <% end %>
</table>


<%= form_tag posts_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
<% end %>