

<table>
  <tr>
    <th>Pic....................</th>
   
    <th>Title....</th>

    <th>Text....</th>
    <th>address....</th>
<th>seller........................</th>
    <th>SellerPhone(if in cart)</th>
    <th>email</th>

  </tr>
 

    <tr>
      <td><%= image_tag @post.image.url(:large) %></td>
      
      <td><%= @post.title %></td>
      <td><%= @post.text %></td>
      <td><%= @post.address %></td>


      <td><%= @post.username %></td>

<td>seller phone number</td>
      
      <td>link to email</td>
    </tr>
 



</table>
