<div id="wrap">
<center>
  <div id="indivs">
<h1><%= @post.title %></h1>
 
    <%= mail_to @post.user.email, "email seller", class: "btn btn-info btn-xs" %>
    <br><br>
      <%= image_tag @post.image.url(:large), :class => "img-rounded" %>
      
      <br><br>
     <b>description: </b>
    <div id="postdesc">
      
     <%= @post.text %>
       </div>
    <b>address:</b> <%= @post.address %><br>

    </div>
</center>
</div>