<div id="wrap">
<center>
<h1><%= @post.title %></h1>
   <%= @post.username %><br><br>
      <%= image_tag @post.image.url(:large) %>
      
      <br>
  <h2><%= @post.text %></h2><br>
      <%= @post.address %><br>
<%= @post.price %> per <%= @post.quantity %>

      


</center>
</div>