<div id="wrap">
  <div class="container">
<center>
  <div id="indivs">
<h1><%= @post.title %></h1>
 
    <%= mail_to @post.user.email, "email seller", class: "btn btn-info btn-xs" %>
    <br><br>
    <% if @post.image? %>
      <%= image_tag @post.image.url(:large), :class => "img-rounded" %>
      
      <br><br><% end %>
     <b>description: </b>
    <div id="postdesc">
      
     <%= @post.text %>
       </div>
    <b>address:</b> <%= @post.address %><br>
    <div id="posttime">
    posted <b><%= time_ago_in_words(@post.created_at)  %></b> ago
      </div><br>
    <b>Reviews</b><br>
    Quality: <%= rating_for @post, "quality" %>
      
   </div>
</center>
</div>
  </div>